header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: xx-large;
}

.grid {
  margin: auto;
  display: grid;
  border: 3px solid lightgrey;
  border-radius: 20px;
  overflow: clip;
  /* rows and columns are set by javascript */
}

.fill {
  background-color: gray;
  border: 1px solid darkgray;
}

button {
  margin: 30px;
  padding: 10px 20px;
  border-radius: 100px;
  border: 3px solid lightgrey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  background-color: transparent;
}